---
interface Props {
  href: string;
  text: string;
}
const { href, text } = Astro.props;
---

<a
  href={href}
  style="
  color: #000;
  border: 2px solid #416683;
  background-color: #cef2fa;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
"
  target="_blank"
>
  <b>{text}</b>
</a>
