<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>E-mails do CACiC</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  body {
    margin: 1rem;
    font-family: "Inter", apple-system, "Helvetica Neue", "Helvetica", Roboto, system-ui, Arial, sans-serif;
  }


  @font-face {
    font-family: "Inter";
    font-display: swap;
    src: url("/fonts/Inter/Inter-VariableFont_slnt_wght.woff2") format("woff2");
  }

  @font-face {
    font-family: "Merriweather";
    font-display: swap;
    src: url("/fonts/Merriweather/Merriweather-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Merriweather";
    font-display: swap;
    src: url("/fonts/Merriweather/Merriweather-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: "Merriweather";
    font-display: swap;
    src: url("/fonts/Merriweather/Merriweather-BlackItalic.woff2") format("woff2");
    font-weight: 900;
    font-style: italic;
  }

  @font-face {
    font-family: "Merriweather";
    font-display: swap;
    src: url("/fonts/Merriweather/Merriweather-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Merriweather";
    font-display: swap;
    src: url("/fonts/Merriweather/Merriweather-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
  }

  @font-face {
    font-family: "Merriweather";
    font-display: swap;
    src: url("/fonts/Merriweather/Merriweather-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: "Merriweather";
    font-display: swap;
    src: url("/fonts/Merriweather/Merriweather-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Merriweather";
    font-display: swap;
    src: url("/fonts/Merriweather/Merriweather-LightItalic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: "Source Code Pro";
    font-display: swap;
    src: url("/fonts/SourceCodePro/SourceCodePro-VariableFont_wght.woff2") format("woff2");
  }

  @font-face {
    font-family: "Source Code Pro";
    font-display: swap;
    src: url("/fonts/SourceCodePro/SourceCodePro-Italic-VariableFont_wght.woff2") format("woff2");
    font-style: italic;
  }

</style>
